<div style="padding-left: 30px;">
    <form #newPostForm="ngForm" (ngSubmit)="onPostSubmit(newPostForm.valid)" >
        <label for="title">Titulo</label><br>
        <input #titel="ngModel" [(ngModel)]="title"  style="width: 300px;" 
        name="Title" required type="text" id="title" placeholder="titulo"><br>
        <div *ngIf="titel.errors && (titel.dirty || titel.touched)">
            <p *ngIf="titel.errors.required">Titulo obligarotio</p>
        </div><br>

        <label for="headline">Subtitulo</label><br>
        <textarea #headline="ngModel" [(ngModel)]="postHeadline"  style="width: 300px;" 
        name="Title" required type="text" id="headline" placeholder="subtitulo"></textarea><br>
        <div *ngIf="headline.errors && (headline.dirty || headline.touched)">
            <p *ngIf="headline.errors.required">subtitulo obligatorio</p>
        </div><br>

        <label for="description">Descripcion</label><br>
        <textarea #description="ngModel" [(ngModel)]="postDescription" 
        style="width: 300px;" name="Description" 
        id="description" placeholder="Descripcion" required></textarea>
        <div *ngIf="description.errors && (description.dirty || description.touched)">
            <p *ngIf="description.errors.required">Descripcion es obligarotio</p>
        </div><br>

        <input class="button" type="submit" name="Submit">
        <!-- <div *ngIf="(!newPostForm.valid)">
            <p>Enter Valid Details</p>
        </div><br> -->
    
    
    </form>
</div>
